{% extends 'base.html.twig' %}

{% block body %}
            <div class="row mt-lg-3">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="d-inline">
                    <a class="link-primary" href="{{ path('admin_user_index') }}">Backoffice gestion de l'application météo </a>
                </div>
                {% endif %}
                {% if is_granted('ROLE_TEACHER') %}
                <div class="row d-lg-none my-3 justify-content-center">
                {% block signaler_problemes %}
                    <a class="col-4 p-0 col-lg-2" href="{{ path('app_notify_problem') }}">
                        <button class="btn btn-light p-0 p-lg-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                            </svg>
                            Signaler un problème
                        </button>
                    </a>
                {% endblock %}
                </div>
                {% endif %}

                {{ form_start(form) }}
                <div class="row align-items-center justify-content-center p-0 px-lg-3">
                    <div class="col-3 p-0 col-lg-2 ps-lg-2 pe-lg-3 offset-lg-2">
                        {{ form_widget(form.searchTerm, {'attr': {'class': 'form-control rounded'}}) }}
                    </div>
                    <div class="col-4 col-md-3 col-lg-2 ps-lg-3 pe-lg-4">
                        {{ form_widget(form.selectedState, {'attr': {'class': 'form-select rounded'}}) }}
                    </div>
                    <div class="col-3 col-md-2 ps-lg-0 me-lg-3">
                        <div class='d-none d-lg-inline fw-light'>Résultats :</div>
                        <div class="d-md-inline-block">
                            {{ form_widget(form.limit, {'attr': {'class': 'form-select rounded'}}) }}
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-start">
                        <button class="btn btn-light px-2" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                    <div class="col-3 d-none d-lg-block px-0 ms-lg-n3">
                        {#  on fait appel une 2ème fois à ce block pour la gestion du responsive #}
                        {{ block('signaler_problemes') }}
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
            <div class="row gx-5 d-flex mt-3 mt-lg-5">
                <div class="col-3 text-center col-lg-4 text-lg-end">
                    <h6>SERVICE NUMERIQUE</h6>
                </div>
                <div class="col-4 text-center ps-5 col-lg-3 text-lg-end pe-lg-5">
                    <h6>ÉTAT COURANT</h6>
                </div>
                <div class="col-3 ps-3 ms-0 ps-lg-5 ms-lg-3">
                    <h6>DERNIÈRE MISE À JOUR</h6>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                {% endif %}
            </div>
            {% if nbPage!=0 %}
                {% for application in applications %}
                    <div class="row mt-3">
                        <div class="col-1 col-lg-2 d-flex align-items-center justify-content-end">
                            {% if application.nextMaintenance %}
                                {% set maintenance = application.nextMaintenance %}

                                {% set hover %} {% if application.isInMaintenance %}Maintenance en cours, fin prévue : {{ maintenance.endingDate|date("d-m-Y H\\Hi") }}{% else %}Maintenance prévue le {{ maintenance.startingDate|date("d-m-Y H\\Hi") }}{% endif %}  ({{ iconsName[maintenance.state][0] }}) {% endset %}
                                <div data-bs-toggle='tooltip' data-bs-placement="bottom" data-bs-title='{{ hover }}'>
                                    <a class="action {{ iconsName[maintenance.state][1] }}" data-bs-toggle="modal" data-bs-target="#details" applicationid="{{ application.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                             class="bi bi-gear-wide-connected" viewBox="0 0 16 16">
                                            <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5m0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78zM5.048 3.967l-.087.065zm-.431.355A4.98 4.98 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8zm.344 7.646.087.065z"/>
                                        </svg>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-3 ps-0 pe-1 align-content-center">{{ application.title }}</div>
                        <div class="d-flex col-3 col-lg-2 px-0 align-content-center flex-wrap justify-content-center rounded shadow bg-{{ application.state }}">
                        {% set state = application.state %}
                        {% set txtState = iconsName[state][0] %}
                        {% set meteoIcone = iconsName[state][2] %}
                        {% set size = iconsName[state][3] %}
                        {% set pathD = iconsName[state][4] %}
                            <div class="d-flex pt-0 pt-lg-1 me-1 align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor"
                                        class="bi bi-brightness-high-fill" viewBox="0 0 {{ size }} {{ size }}">
                                    <path d="{{ pathD }}"/>
                                </svg>
                            </div>
                            <b>{{ txtState }}</b>
                        </div>
                        <div class="col-3 d-flex px-0 justify-content-center align-items-center text-center">{{ application.lastUpdate is null ? "" : application.lastUpdate|date('d-m-Y H:i') }}</div>
                        <div class="col-1 d-flex align-items-center ps-0">
                            <a class="action" href="#" data-bs-toggle="modal" data-bs-target="#details" applicationid="{{ application.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-1 d-flex align-items-center ps-0">
                        {% if is_granted('ROLE_ADMIN') %}
                                <a class="action" href="{{ path('app_edit_application', { 'id' : application.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Modifier">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                </a>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <span class="d-flex justify-content-center mt-5">Aucun résultat</span>
            {% endif %}
            {% if nbPage > 1 %}
            <div class="row mt-5">
                <nav class="col-1 mx-auto">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page>2 %}
                                <a class="page-link text-dark" href="{{ path('app_meteo', {'page': page-1}) }}"
                                   aria-label="Previous">
                                    <span>&laquo;</span>
                                </a>
                            {% endif %}
                            {% if page == 2 %}
                        <li class="page-item"><a class="page-link text-dark"
                                                 href="{{ path('app_meteo') }}">1</a></li>
                        {% elseif page > 2 %}
                            <li class="page-item"><a class="page-link text-dark"
                                                     href="{{ path('app_meteo') }}">1</a></li>
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                        {% endif %}
                        <li class="page-item disabled"><a class="page-link text-dark"
                                                          href="{{ path('app_meteo', {'page': page}) }}">{{ page }}</a>
                        </li>

                        {% if page == nbPage - 1 %}
                            <li class="page-item"><a class="page-link text-dark"
                                                     href="{{ path('app_meteo', {'page': nbPage }) }}">{{ nbPage }}</a>
                            </li>
                        {% elseif page < nbPage - 1 %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                            <li class="page-item"><a class="page-link text-dark"
                                                     href="{{ path('app_meteo', {'page': nbPage }) }}">{{ nbPage }}</a>
                            </li>
                        {% endif %}
                        {% if page < nbPage - 1 %}
                            <a class="page-link text-dark" href="{{ path('app_meteo', {'page': page+1}) }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>

{% include 'meteo/pop-ups/modal.html.twig' %}

<!--
    <div id="details-content"> -->
        <!-- POP-UP page de détail -->
        {#% include 'meteo/pop-ups/details.html.twig' %#}
<!--    </div>-->
{% endblock %}
