{% extends 'base.html.twig' %}

{% block body %}

            {{ form_start(maintenanceForm) }}
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Application<span class="text-danger">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.application, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">État courant<span class="text-danger">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.applicationState, {'attr': {'class': 'form-select rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Début prévu</h6>
                </div>
                <div class="col-6">
                    <div class="text-danger">
                        {{ form_errors(maintenanceForm.startingDate) }}
                    </div>
                    {{ form_widget(maintenanceForm.startingDate, {'attr': {'class': 'd-inline form-control rounded', 'style': 'width: 250px;'}}) }}
                    {#{ ajout d'une icone avec des marges négatives pour cliquer sur le calendrier (idem pour endingDate mais je remet pas ce commentaire) }#}
                    <i class="datetimepicker d-inline m-n5 bi bi-calendar"></i>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Fin prévue</h6>
                </div>
                <div class="col-6">
                    <div class="text-danger">
                        {{ form_errors(maintenanceForm.endingDate) }}
                    </div>
                    {{ form_widget(maintenanceForm.endingDate, {'attr': {'class': 'd-inline form-control rounded', 'style': 'width: 250px;'}}) }}
                    <i class="datetimepicker d-inline m-n5 bi bi-calendar"></i>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Détail de la maintenance</h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.message, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                    <div class="text-danger">
                        {{ form_errors(maintenanceForm.message) }}
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <div class="d-flex justify-content-end">Les champs marqués d'un astérisque rouge sont
                        obligatoires.
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6">
                    <button type="submit" id="save" class="shadow px-3 py-2 rounded-pill border-0 text-center"><b>Sauvegarder</b></button>
                </div>
            </div>
            {{ form_end(maintenanceForm) }}
        </div>

    </div>
{% endblock %}