{% extends 'base.html.twig' %}

{% block body %}

            {{ form_start(maintenanceForm) }}
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="droite">Application<span style="color:red">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.application, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="droite">État courant<span style="color:red">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.applicationState, {'attr': {'class': 'form-select rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="droite">Début prévu</h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.startingDate, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                </div>
                <div class="text-danger">
                    {{ form_errors(maintenanceForm.startingDate) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="droite">Fin prévue</h6>
                </div>
                <div class="col-6">
                    {{ form_widget(maintenanceForm.endingDate, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                    <div class="text-danger">
                        {{ form_errors(maintenanceForm.endingDate) }}
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <div class="d-flex justify-content-end">Les champs marqués d'un astérisque rouge sont
                        obligatoires.
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6">
                    <button type="submit" class="save shadow"><b>Sauvegarder</b></button>
                </div>
            </div>
            {{ form_end(maintenanceForm) }}
        </div>

    </div>
{% endblock %}