{% extends 'edit.html.twig' %}

{% block body %}
            {{ form_start(form) }}
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Application<span class="text-danger">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">État courant<span class="text-danger">*</span></h6>
                </div>
                <div class="col-6">
                    {{ form_widget(form.state, {'attr': {'class': 'form-select rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <h6 class="text-end">Détails</h6>
                </div>
                <div class="col-6">
                    {{ form_widget(form.message, {'attr': {'class': 'form-control rounded', 'style': 'width: 250px;'}}) }}
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 offset-3 offset-lg-0">
                    <div class="d-flex justify-content-end">Les champs marqués d'un astérisque rouge sont
                        obligatoires.
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6">
                    <button type="submit" id="save" class="shadow px-3 py-2 rounded-pill border-0 text-center"><b>Sauvegarder</b></button>
                </div>
            </div>{{ form_end(form) }}
            {% if edit is defined and edit == true %}
                <div id="maintenances-table">
                    {% include 'application_form/next_maintenances.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
