<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>{% block title %}Metéo des services{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    <script>
        window.prolongation_ENT_args = {
            current: "{{ ent_name }}",
            delegateAuth: true
        };
    </script>
    <script src="{{ prolongation_ent_js }}"></script>
</head>
<body>
{% for type, messages in app.flashes() %}
    {% for message in messages %}
    <div class="alert alert-{{type == 'error' ? 'danger' : 'success'}} superpose ml-auto text-center">
        {{ message }}
    </div>
    {% endfor %}
{% endfor %}

    <div class="sidebar"></div>
    <div class="marge" id="main-block">
        <div class="container mt-lg-5">

{% block body %}
{% endblock %}
</body>
</html>
